body,
html{
    min-height: 100%;
    font-family: "Nunito", sans-serif !important;
}
body{
    

    background-repeat: no-repeat;
    background-size: cover;
   
    
    display: flex;
    flex-direction: column;
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
    
}
.wrapper{
    flex: 1 0 auto;
}
h2{
    text-align: center;
}
input[type=text],input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px,5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    
}
input[type=submit]{
    
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
input[type=submit]:hover{
    background: #003366;
    opacity: 0.7;
}

/* Navigation and Footer*/

footer {
    background-color: #3b4d6b !important;
}
.navbar li a:hover {
    background-color: #0080ff !important;
    color: cyan !important;
}

.navbar {
    background-color: #3b4d6b;
    height: 60px;

}


  