body,
html{
    min-height: 100%;
    font-family: "Nunito", sans-serif !important;
}

body{
    

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 100px;
    
    
   
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: white;
    box-sizing: border-box;
    padding: 40px;
    color: black;
    margin-top: 100px;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h2{
    text-align: center;
}
input[type=text],input[type=password], input[type =email]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px,5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: black;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    
}
input[type=submit]{
    
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
input[type=submit]:hover{
    background: #003366;
    opacity: 0.7;
}

/* Navigation and Footer*/

footer {
    background-color: #3b4d6b !important;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.navbar li a:hover {
    background-color: #0080ff !important;
    color: cyan !important;
}

.navbar {
    background-color: #3b4d6b;
    height: 60px;
    position :absolute;
    left :0;
    top : 0;

}
